name: CI

permissions: read-all

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rocq-version: ["latest", "weekly"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Install Rocq
        uses: tchajed/setup-rocq@v1
        with:
          rocq-version: "${{ matrix.rocq-version }}"
      - name: Install dependencies
        run: |
          opam pin -n -y .
          opam install --deps-only .
      - name: Rocq build
        run: make
      - name: opam install
        run: opam install --assume-built .
