name: CI

permissions: read-all

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rocq-version: ["9.1.0", "dev"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Run update-goose.sh
        run: ./etc/update-goose.sh
      - name: Install OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14.x"
          cache-prefix: "v1-rocq-${{ matrix.rocq-version }}"
          dune-cache: false
          opam-disable-sandboxing: true
          opam-pin: false
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            rocq-released: https://rocq-prover.github.io/opam/released
            rocq-core-dev: https://rocq-prover.github.io/opam/core-dev
      - name: opam env
        run: |
          opam env >> $GITHUB_ENV
      - name: Cache opam
        uses: actions/cache@v4
        with:
          path: "_opam"
          key: opam-${{ runner.os }}-${{ matrix.rocq-version }}-${{ hashFiles('*.opam') }}
      - name: Build opam dependencies
        run: |
          if [ "${{ matrix.rocq-version }}" = "dev" ]; then
            opam pin add -n -y rocq-runtime.dev git+https://github.com/rocq-prover/rocq.git --yes
            opam pin add -n -y rocq-core.dev git+https://github.com/rocq-prover/rocq.git --yes
            opam pin add -n -y coq-core.dev git+https://github.com/rocq-prover/rocq.git --yes
            opam pin add -n -y coq-stdlib.dev git+https://github.com/rocq-prover/stdlib.git --yes
            opam pin add -n -y coq.dev --dev-repo
          fi
          opam pin add -n -y .
          opam reinstall --forget-pending
          opam install -y ./example-proof.opam --deps-only
      - name: Rocq build
        run: |
          make
