name: CI

permissions: read-all

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rocq-version: ["9.1.0", "dev"]
    steps:
      - uses: actions/checkout@v6
      - name: Install OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "4.14.x"
          dune-cache: true
          opam-disable-sandboxing: true
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            rocq-released: https://rocq-prover.github.io/opam/released
      - name: Cache opam
        uses: actions/cache@v4
        with:
          path: "_opam"
          key: opam-${{ runner.os }}-${{ matrix.rocq-version }}-${{ hashFiles('*.opam') }}
      - name: Build opam dependencies
        run: |
          opam pin rocq-runtime.${{ matrix.rocq-version }}
          opam install -y ./example-proof.opam --deps-only
      - name: Rocq build
        run: |
          eval $(opam env)
          make
